.ctaSection {
    padding: 80px 20px;
    background: #ffffff;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1280px;
    width: 100%;
    background-color: #2c3e45;
    border-radius: 30px;
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.bgImage {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
    z-index: 1;
    pointer-events: none;
}

.content {
    position: relative;
    z-index: 5;
    color: white;
}

.subtitle {
  background: linear-gradient(
  90deg,
  #349920 40%,
  #febd59 50%,
  #349920 60%
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
}

.title {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 40px;
    max-width: 800px;
}

.btn {
    background: #28a745;
    color: #fff;
    padding: 16px 35px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    transition: transform 0.3s ease, background 0.3s ease;
    display: inline-block;
}

.btn:hover {
    background: #218838;
    transform: translateY(-3px);
}

@media (max-width: 1024px) {
    .container {
        padding: 60px 20px;
    }

    .title {
        font-size: 32px;
        margin: 0 auto 30px;
    }
}